@import url('https://fonts.googleapis.com/css2?family=Oxygen');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono');

.logo {
    position: fixed;
    width: 45%;
    height: 82%;
    overflow: visible;
    opacity: 0.25;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 15%;
    left: 52%;
    z-index: -1;
}



/*Service Container*/
.service_container, .airtime_container {
    position: fixed;
    width: 30%;
    height: auto;
    margin: 0;
    top: 17.5%;
    left: 40%;
    box-shadow: -10px 10px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    overflow: visible;
    z-index: 1;
}

.service_container > p, .airtime_container > p, .tx_container > p {
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Oxygen", serif;
    letter-spacing: 0;
    line-height: 1.2;
    color: #1199EE;
    font-size: 37px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    top: 15px;
}

.service_container > .customBtn,
.airtime_container > .customBtn,
.tx_container > .customBtn{
    /*position: absolute;*/
    /*top: 400px;*/
    margin-top: 20px;
    color: white;
    background-color: #1199EE;
    font-size: 14px;
    font-weight: bold;
    font-family: "Oxygen", serif;
    letter-spacing: 0;
    line-height: 1.2;
    white-space: pre;
    margin-bottom: 15px;
    padding: 9px;
}

.service_container > .nextBtn {
    left: 39%;
}

.airtime_container > .nextBtn{
    left: 60%;
}

.airtime_container > .backBtnn{
    left: 8%;
}

.service_container > .customBtn:hover,
.airtime_container > .customBtn:hover,
.tx_container > .customBtn:hover{
    background-color: #1199EE;
}

.service_container > hr, .airtime_container > hr {
    margin-left: 10px;
    margin-right: 10px;
}


/*Properties related to stack Item*/
.stack_item {
    position: relative;
    /*display: inline;*/
    height: 35px;
    padding-bottom: 5px;
    cursor: pointer;

}

.stack_item > img {
    position: absolute;
    height: 35px;
    width: 40px;
    /*bottom: 40px;*/
    /*margin: 0;*/
    margin-top: 2px;
    padding: 0 0 0 10px;
}

.stack_item > p {
    position: relative;
    left: 17%;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    font-weight: 700;
    font-style: normal;
    font-family: "Oxygen", serif;
    letter-spacing: 0;
    line-height: 1.2;
    color: #818283;
    text-align: left;
    font-size: 20px;
    top: 5px;
}

.stack_item:hover {
    background-color: #60a7e1;
    /*overflow: hidden;*/
    height: 35px;
    padding-bottom: 5px;
}

.stack_item:hover > p {
    font-size: 25px;
}

.selected_item {
    background-color: #60a7e1;
    /*overflow: hidden;*/
    height: 35px;
    padding-bottom: 5px;
}

.selected_item > p {
    font-size: 25px;
}

.tx_container {
    position: absolute;
    width: 45%;
    height: auto;
    top: 15%;
    left: 30%;
    box-shadow: -10px 10px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    overflow: visible;
    z-index: 1;
    margin-bottom: 50px;
}

.tx_primary_label{
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    color: #1199EE;
    letter-spacing: 0;
    line-height: 1.2;
    font-weight: 300;
    font-style: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
}

.tx_form{
    position: relative;
    margin-left: 40px;
    /*overflow-y: scroll;*/
    height: 70%;
    margin-right: 40px;
}

.tx_phone_region{
    position: relative;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.2;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-family: "Oxygen Mono", monospace;
    font-size: 14px;
    /*top: 50%;*/
    padding-top: 25%;
}

.tx_container > .backBtn{
    left: 12%;
}

.tx_container > .nextBtn{
    left: 65%;
}

.confirm_container {
    position: absolute;
    width: 45%;
    height: 60%;
    left: 30%;
    top: 20%;
    box-shadow: -10px 10px 6px 6px rgba(0, 0, 0, 0.25);
    background-color: #f7f7f7;
    overflow: visible;
}

.confirm_container > .header{
    position: absolute;
    height: 25%;
    width: 100%;
    background-color: #1199ee;
}

.header p{
    position: relative;
    color: white;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    font-family: "Oxygen", serif;
    font-size: 40px;
    bottom: 10px;
    left: 20%;
}