@import url('https://fonts.googleapis.com/css2?family=Oxygen');
.navBar{
    position: fixed;
    width: 110%;
    height: 11.5%;
    background-color: #f5f5f5;
    overflow: hidden;
}

.navButton{
    position: absolute;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;
    font-weight: 300;
    font-style: normal;
    font-family: "Oxygen", serif;
    letter-spacing: 0;
    line-height: 1;
    color: #635f5f;
    font-size: 28px;

}

.navButton:hover{
/*    position: absolute;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: pre;*/
    /*letter-spacing: 0;*/
    line-height: 1.2;
    font-weight: 700;
  /*  font-style: normal;
    font-family: "Oxygen", serif;*/
    font-size: 35px;
    color: #60e160;
    cursor: pointer;
    margin: 0;
    -ms-transform: translateY(40%);
    transform: translateY(40%);
}

img{
    position: fixed;
    width: 20%;
    height: 10%;
    top: 1%;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}